@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4e4d4;
  --input-bg: #efefef;

  --primary-text: #555a56;
  --secondary-text: #8a9b69;
  --menu-bg: #f2f2e0;

  --add-player-text: #555a56;
  --add-player-text-hover: #e4e4d4;
  --add-player-bg: #cbd0bf;
  --add-player-bg-hover: #555a56;
  --generate-schedule-text: #e4e4d4;
  --generate-schedule-bg: #6b886b;
  --generate-schedule-bg-hover: #555a56;
  --remove-player-text: #555a56;
  --remove-player-text-hover: #e4e4d4;
  --remove-player-bg: #cbd0bf;
  --remove-player-bg-hover: #555a56;
  --error-text: #b91c1c;
  --error-border: #e30000;

  --schedule-accent: #d5d5c5;

  --popup-text: #555a56;
  --popup-bg: #efefef;
}

body {
  background: var(--background);
  font-family: 'Courier New', Courier, monospace;
}

.bm-burger-button {
  display: none;
}

.bm-cross-button {
  margin-top: 6px;
  margin-right: 6px;
}

th {
  font-weight: 400;
}

.input-container label {
  /* color: #9ca3af; */
  color: var(--primary-text);
  position: absolute;
  pointer-events: none;
  transform: translate(17.25px, 14px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container:focus-within label {
  transform: translate(17.25px, 7px) scale(.55);
}

.input-container .filled {
  transform: translate(17.25px, 7px) scale(.55);
}

@media (min-width: 768px) {
  .input-container label {
    transform: translate(17.25px, 12px);
  }

  .input-container:focus-within label {
    transform: translate(17.25px, 6px) scale(.55);
  }

  .input-container .filled {
    transform: translate(17.25px, 6px) scale(.55);
  }
}