@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: #ff0000;
}

body {
  background: #003950;
  font-family: 'Courier New', Courier, monospace;
}

.bm-burger-button {
  display: none;
}

.bm-cross-button {
  margin-top: 6px;
  margin-right: 6px;
}

th {
  font-weight: 400;
}

.input-container label {
  color: #9ca3af;
  position: absolute;
  pointer-events: none;
  transform: translate(17.25px, 14px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container:focus-within label {
  transform: translate(17.25px, 7px) scale(.55);
}

.input-container .filled {
  transform: translate(17.25px, 7px) scale(.55);
}

@media (min-width: 768px) {
  .input-container label {
    transform: translate(17.25px, 12px);
  }

  .input-container:focus-within label {
    transform: translate(17.25px, 6px) scale(.55);
  }

  .input-container .filled {
    transform: translate(17.25px, 6px) scale(.55);
  }
}